{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}

    <form action="{{ path('add_message', {'id': id}) }}" method="post" name="add_message">

        <input type="text" name="username" placeholder="username" id="username" />
        <input type="text" name="content" placeholder="content" id="content" />

        <button type="submit">Envoyer</button>
    </form>

{% endblock %}
